.contact-button{
    border-top-left-radius:2rem ;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius:2rem ;
    border: none !important;
    color:white;
    

}

.share-button{
  border-top-left-radius:2rem ;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius:2rem ;
  color:white;
  

}
.listing-icon{
color: #0091ff;
}

.address-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block; /* Ensure it respects the parent's width */
}


.form-wrapper{
    border:2px solid black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.custom-input:focus {
    border-color:grey !important; 
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.2); 
    outline: none; 
  }
  .listingForm-button{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: rgba(0,0,0,0.3);
    border:none
  }

  .line-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  div .accordion-item{
    box-shadow: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color:none;
    --bs-accordion-active-bg:none;
  }
 
  
  .line {
    height: 1px;
    background-color: #000;
  }
.small-font{
  font-size: x-small;
}
.search-listing-card{
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: #0d0d0d;
}
.days{
  position: absolute;
  top:10px;
  left: 10px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.like-button{
  position: absolute;
  bottom:30px;
  right:15px;
}
.like-button-red{
   color:red;
}
.like-button-white{
  color: white;
}
.card-image{
  position:relative;
  object-fit: cover;
  overflow: hidden;
}
.image{
  aspect-ratio: 16/9;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

}
.full-height{
  min-height:max(90vh,10cm)
}
